---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About the project">
  <section class="text-center">
    <h1 class="text-3xl font-extrabold my-4">About the project</h1>

    <p class="[text-wrap:balance] mb-3 font-semibold">
      SpaceX Launches, powered by the robust Astro 4.0 framework, allows you to
      stay up-to-date with all the exciting SpaceX launches in one convenient
      place. SpaceX, the innovative space exploration company led by Elon Musk,
      is at the forefront of the aerospace industry and has undertaken historic
      launches that have captured the imagination of people worldwide.
    </p>

    <p class="font-medium">
      Developed by
      <a
        class="underline"
        href="https://github.com/TomasLaus"
        target="_blank"
        rel="noopener noreferrer">Tomás Laus.</a
      >
    </p>
  </section>
</Layout>
